 <!--COMP229-013 F2021
    Group Project Part 2 Final Release - Smart Survey
    File Name:   server/views/partials/bottom_nav.ejs
    Student#:    301147411, 301182173, 301163120, 301168420, 301182196, 301159644 
    Name:        Marcus Ngooi, Tatsiana Ptushko, Josef Signo, Sukhmannat Singh, Yuko Yamano, Agustin Ignacio Zuluaga
    Description: Partials template for bottom navigation
  -->
 
 <!-- Bottom Navigation -->
 <footer>
    <nav class="navbar fixed-bottom" style="background-color: #18043A;">
      <div class="container-fluid">
        <h6 class="display-8 navbar-text">&copy; HexaCoders. Copyright 2021. All rights reserved. </h6>
      </div>
    </nav>
  </footer>