  <!--COMP229-013 F2021
    Group Project Part 2 Final Release - Smart Survey
    File Name:   server/views/partials/content.ejs
    Student#:    301147411, 301182173, 301163120, 301168420, 301182196, 301159644 
    Name:        Marcus Ngooi, Tatsiana Ptushko, Josef Signo, Sukhmannat Singh, Yuko Yamano, Agustin Ignacio Zuluaga
    Description: Partials template for page titles
  -->
  
  <!-- Main Content -->
  <div class="container">
    <h1 class="display-5"><%= title %></h1>
    
  </div>