<!--COMP229-013 F2021
    Group Project Part 2 First Release - Smart Survey
    File Name:   server/views/partials/template.ejs
    Student#:    301147411, 301182173, 301163120, 301168420, 301182196, 301159644 
    Name:        Marcus Ngooi, Tatsiana Ptushko, Josef Signo, Sukhmannat Singh, Yuko Yamano, Agustin Ignacio Zuluaga
    Description: Partials template for choosing different survey templates
  -->

<br/>
<br/>
  <p>Choose template: 
    <a href="/surveys/createMCQ">
      <input type="button" class="btn btn-secondary" value="MCQ Survey"></button>
    </a>
    <a href="/surveys/createTF">
      <input type="button" class="btn btn-secondary" value="True/False Survey"></button>
    </a>
    <!-- <input type="button" class="btn btn-secondary" value="Short Answers Survey"></button> -->
</p>