<!--COMP229-013 F2021
    Group Project Part 2 First Release - Smart Survey
    File Name:   server/views/partials/template.ejs
    Student#:    301147411, 301182173, 301163120, 301168420, 301182196, 301159644 
    Name:        Marcus Ngooi, Tatsiana Ptushko, Josef Signo, Sukhmannat Singh, Yuko Yamano, Agustin Ignacio Zuluaga
    Description: Partials template for choosing different survey templates
  -->

<br/>
<br/>
  <p>Choose template: 
  <a href="/createMCQ"><input name="cteateMCQ" type="button" value="Multiple-choice"  id="createMCQ" tabindex="1"></a>
   <a href="/createTF"><input name="cteateTF" type="button" value="True-False"  id="createTF" tabindex="3"></a>
   <a href="/createSA"><input name="cteateSA" type="button" value="Short Answer"  id="createSA" tabindex="5"></a>     
</p>