/*  COMP229-013 F2021
    Group Project Part 2 First Release - Smart Survey
    File Name:   public/Content/app.css
    Student#:    301147411, 301182173, 301163120, 301168420, 301182196, 301159644 
    Name:        Marcus Ngooi, Tatsiana Ptushko, Josef Signo, Sukhmannat Singh, Yuko Yamano, Agustin Ignacio Zuluaga
    Description: CSS styling      
 */

/* Set background color for web page body */
body {
    background-color: aliceblue;
    }
    
    /* Organize contact form */
    .inputInfoLabel {
        position: absolute;
        margin-right: 20em;
    }
    
    .inputInfo {
        margin-left: 150px;
    }
    
    h1{
        text-align: center;
    }
    .navbar{
        margin: 0px;
        padding: 0px;
    }